body {
    font-size: 100%;
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
}
.clear-both{
    clear: both;
}
@media (min-width:0) {
    /* smartphones, iPhone, portrait 480x320 phones */

    /* Navigator bar */
    .navbar{
        background-color: transparent;
        border: none;
    }
    .navbar-toggle{
        background-color: #ffffff;
    }
    .navbar-collapse{
        background-color: #ffffff;
    }
    .section-container h1{
        font-size: 1.975em;
    }
    .section-container h4{
        font-size: 1.625em;
        text-align: left;
    }

    /* Section 0 */
    #section0{
        background: url('../img/section0.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #section0 .section-container{
        width: 85%;
        margin: 0 auto;
    }

    #section0 .logo{
        width: 250px;
    }
    #section0 h4{
        margin-top: 15px;
    }

    /* Squares */
    .square-25{
        background-color: #0b93d5;
        height: 25%;
    }



}
@media (min-width:481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */


}
@media (min-width:768px) {
    /* bootstrap collapse points */
    .navbar{
        background-color: #ffffff;
        border: none;
    }

}
@media (min-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */


}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }