@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu');

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    line-height: 1;
}
ol, ul{
    list-style: none;
}
blockquote, q{
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after{
    content: '';
    content: none;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
h1, h2, h3, h4, h5, h6 {
    color: #0b3e6f;
}
.clear-both{
    clear: both;
}

/** Center image in Jcrop */
.jcrop-centered {display: inline-block;}
.photo-container{text-align: center;}

@media (min-width:0) { /* smartphones, iPhone, portrait 480x320 phones */
    .photo-preview img {border: 1px solid #8f8f8f;}
}
@media (min-width:481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

}
@media (min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

}
@media (min-width:768px) { /* bootstrap collapse points */

}
@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

}
@media (min-width:1281px) { /* hi-res laptops and desktops */

}